form {
  background-color: rgb(22, 21, 21);
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  align-self: center;
}

form :not(label) {
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  color: rgb(206, 203, 203);
}

form :is(input, select):not(:last-child) {
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.5rem;
}

input:last-child {
  background-color: rgb(206, 203, 203);
  color: rgb(22, 21, 21);
  font-weight: 600;
  transition: all 0.25s;
}
input:last-child:hover {
  cursor: pointer;
}
